**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/bin
**/obj
**/node_modules
**/dist
**/*.db
**/*.db-shm
**/*.db-wal
**/logs
**/.vs
**/.idea
**/tmp_*
references/
tests/
client/node_modules/
client/dist/
*.md
!README.md
